# /etc/cron.d/owncloud: crontab fragment for owncloud
# Since version 8.5.0 news app will not update using ajax and webcron so
# system cron is needed.

*/15  *  *  *  * www-data php -f /srv/owncloud/cron.php
